.box{
    height: 100px;
    width: 200px;
    border: 1px solid black;
    background-color:orange;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
}.box1{
    height: 100px;
    width: 200px;
    border: 1px solid black;
    background-color:white;
    margin: 5px;

}
.box2{
    height: 100px;
    width: 200px;
    border: 1px solid black;
    background-color:green;
    margin: 5px;

}

.bigbox{
    height: 200px;
    width: 500px;
    background-color: aqua;
}
.smallbox{
    margin: 20px;
    height: 10vh;
    width: 10vw;
    background-color: yellow;
}
#first-para{
    background-color: grey;
    width: 50vw;
    font-size: 2em;
}